"*":
  "atom-minify": {}
  "atom-package-deps":
    ignored: []
  core:
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "link"
      "linter"
      "markdown-scroll-sync"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-preview"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "one-dark-pro-vivid-syntax"
    ]
  editor:
    fontFamily: "D2Coding.ttf"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  emmet:
    useEmmetComments: true
  "exception-reporting":
    userId: "c02747bf-42ef-306f-3c1c-895bf7a31fd3"
  "file-icons":
    coloured: false
  "git-diff": {}
  "git-plus":
    general:
      _analyticsUserId: "d7e025ba-5ff0-499d-b85e-2a74586e4098"
  linter:
    lintOnChange: false
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-ui-default":
    panelHeight: 69
    panelTakesMinimumHeight: false
    showProviderName: true
    useBusySignal: false
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core: {}
    style:
      defaultPanelHeight: "150px"
      fontFamily: "D2Coding.ttf"
      fontSize: "15"
  "quick-highlight": {}
  "split-diff":
    ignoreWhitespace: true
  tabs:
    enableVcsColoring: true
  "terminal-plus":
    core: {}
    style:
      fontFamily: "D2Coding.ttf"
      fontSize: "15"
    toggles:
      cursorBlink: false
      runInsertedText: true
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  "w3c-validation":
    cssReportType: "no warnings"
    hideOnNoErrors: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnlyLines: true
    removeTrailingWhitespace: false
".diff.source":
  editor:
    tabLength: 4
".gfm.source":
  "wrap-guide":
    enabled: true
".text.todo":
  editor:
    autoIndent: true
