packages: [
  "autocomplete-paths"
  "busy-signal"
  "emmet"
  "git-plus"
  "html-entities"
  "intentions"
  "linter"
  "linter-csslint"
  "linter-sass-lint"
  "linter-ui-default"
  "package-sync"
  "platformio-ide-terminal"
  "project-manager"
  "quick-highlight"
  "snippet-generator"
  "split-diff"
  "w3c-validation"
]
