packages: [
  "autocomplete-paths"
  "build"
  "busy"
  "busy-signal"
  "double-tag"
  "emmet"
  "file-icons"
  "git-plus"
  "html-entities"
  "intentions"
  "language-ini"
  "linter"
  "linter-csslint"
  "linter-gcc"
  "linter-sass-lint"
  "linter-ui-default"
  "markdown-scroll-sync"
  "markdown-toc"
  "one-dark-pro-vivid-syntax"
  "package-sync"
  "project-manager"
  "quick-highlight"
  "script"
  "snippet-generator"
  "split-diff"
  "tool-bar"
]
